body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2; 
  }
  
  header, main, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #8f3737;
    background-color: #a83f3f; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  h1, h2 {
    color: #4c004c; 
  }
  
  footer {
    text-align: center;
    background-color: #333; 
    color: #fff; 
    padding: 10px;
  }
  
  main {
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .spot {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 20px;
  }
  
  .spot img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd;
  }
  
  .spot h2,
  .spot p {
    padding: 10px;
  }
  
  .spot iframe {
    width: 100%;
    height: 200px; 
    border: none;
  }
  